[2018-09-24 09:27] mbalamat opened #1 "Add adapter.js"
Add adapter.js (rtc shim) for cross browser compatibility.
Currently, it doesn't work on firefox.

[2018-09-24 09:31] mbalamat opened #2 "Add wifi-connect"
Make it so it is easy to setup new wifi connections with [https://github.com/resin-io/resin-wifi-connect](resin-wifi-connect)

[2018-09-24 09:36] mbalamat opened #3 "Fix connection error"
A "ConnectionError: ICE negotiation failed" raises in some cases.

[2018-09-24 09:39] mbalamat opened #4 "Build better UI"
Build UI that:

1. Auto starts video stream, on page load.
2. Has buttons to access the resin-wifi-connect functionality.

[2018-09-24 09:49] mbalamat opened #5 "Fallback solution"
Add some fallback solution, when rtc fails. (eg. use an on device TURN server)

[2018-09-24 10:03] mbalamat commented on #1
https://webrtc.github.io/adapter/adapter-latest.js

[2018-09-24 10:09] mbalamat commented on #5
Maybi this https://github.com/coturn/coturn

[2018-09-24 10:09] mbalamat commented on #5
Maybe this https://github.com/coturn/coturn

[2018-09-24 12:51] mbalamat opened #6 "Add access control mechanism."
Add some access control mechanism. (eg. Lock nginx's paths with passwd)

[2018-09-24 13:32] mbalamat commented on #3
Check: https://aioice.readthedocs.io/en/stable/api.html

[2018-09-27 08:17] mbalamat commented on #3
The line that raises the error is https://github.com/jlaine/aioice/blob/6ca5d8a9c3abcebdd05bb97aa519ca5348d96c24/aioice/ice.py#L385

[2018-10-04 11:13] mbalamat commented on #1
The issue remains.

[2018-10-04 11:13] #1 closed

[2018-10-04 11:14] mbalamat commented on #3
The issue remains, maybe it is going to get fixed in the next versions of aiortc.

[2018-10-04 11:14] #3 closed

[2018-10-04 13:11] #4 closed

[2019-01-12 14:39] jonathanherr opened #23 "RTCPeerConnection exception in chrome"
Received this exception in chrome 66.0.3359.181 on Ubuntu 16.04

client.js:56 Uncaught TypeError: pc.addTransceiver is not a function
    at negotiate (client.js:56)
    at client.js:156

Which is maybe consistent with this page on RTCPeerConnection from MDN?
https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/addTransceiver

[2019-01-14 07:15] mbalamat commented on #23
Hi @jonathanherr thanks for trying balena-cam and pointing this out!
The MDN browser compatibility table has to change for this one.
Have you tried updating chrome? The latest version I think is around 71.

[2019-01-17 08:00] #23 closed

[2019-01-24 17:03] svangasse opened #24 "Is this project working on latest balena infrastructure?"
Hi,
This project looks fantastic, and should be a great starter for a something I'm working on. The problem I'm finding is that it doesn't display video in Chrome from my raspberry pi. The connecting spinner shows for a couple of seconds the disappears. The Chrome logs look positive:

a=candidate:297898e4296c74660bb3ab65d8da90ec 1 udp 1694498815 81.153.71.214 55523 typ srflx raddr 172.18.0.1 rport

[2019-01-25 19:43] mbalamat commented on #24
Hi @svangasse thanks for trying out balena-cam,

can I have more info about the equipment you used (RPi board, camera etc).
Have you tried refreshing the page? (what was the outcome?)
Also when the connection gets completed if you check the webrtc internals (chrome://webrtc-internals) do you see any traffic on the section about the video?

[2019-01-25 20:34] mbalamat commented on #24
Hi @svangasse thanks for trying out balena-cam,

I 've tried it about a week ago and it worked as expected (my setup: RPi 3 model B+, official picamera).
Please answer the following questions:
1. What was the equipment you used (RPi board, camera etc).
2. Have you tried refreshing the page? (what was the outcome?)
3. Have you tried it on firefox or chrome mobile?
4. When the connection gets comple

[2019-01-28 11:00] svangasse commented on #24
Thanks for getting back to me @mbalamat.

1. Same as you: RPi 3 B+ with official camera V2

2. Refreshing the page had no effect - same loading spinner, then nothing:
<img width="846" alt="screenshot 2019-01-28 at 10 49 44" src="https://user-images.githubusercontent.com/1622725/51831650-7e68cd80-22ea-11e9-9a7b-e260e41eafee.png">

3. I've tried it on latest Chrome on my macbook (Version 71.0.3578.9

[2019-01-28 11:31] svangasse commented on #24
Interestingly, I just installed Firefox (64.0.2 (64-bit)) on my macbook and it works! So I'm not sure why it's not working on the other browsers

[2019-02-05 11:48] #24 closed

[2019-03-08 13:18] #5 closed

[2019-05-01 07:26] #6 closed

[2019-05-01 07:26] #2 closed

[2019-05-16 17:27] drjasonharrison-vp-eio opened #31 "Fleet configuration variables -- what is their purpose?"
What is the purpose of defining these variables in the fleet configuration?
BALENA_HOST_CONFIG_start_x = 1
BALENA_HOST_CONFIG_gpu_mem_256 = 192
BALENA_HOST_CONFIG_gpu_mem_512 = 256
BALENA_HOST_CONFIG_gpu_mem_1024 = 448

Do they affect the HostOS, or all of the containers?
Perhaps a link to https://www.balena.io/docs/learn/develop/hardware/i2c-and-spi/#raspberry-pi-camera-module

would be helpful

[2019-05-18 07:01] mbalamat commented on #31
@drjasonharrison-vp-eio If I get your question right on why we add these variables in the fleet configuration tab is because on [balena-cloud](https://dashboard.balena-cloud.com/) I have an app called balenaCam and if I want to add more devices on this app (essentially more balenaCams) I don't want to set up these variables for every new device that I add, so the reason is convenience, of course y

[2019-05-20 12:24] #31 closed

[2019-06-07 19:04] chrisys opened #34 "Video stream does not work in Safari on iOS"
When accessing balenaCam from an iOS device using Safari (even via LAN) the video stream sits on 'Connecting...' with a spinner.

Highlighted by user noschvie in this forum thread: https://forums.balena.io/t/how-to-get-balenacam-to-balenadash/14424/2

I've tested and confirm this is the case on iOS 12.1.4

[2019-06-07 19:06] chrisys opened #35 "Video stream does not work with balenaDash (WPE)"
When accessing balenaCam from a balenaDash device (even via LAN) the video stream sits on 'Connecting...' with a spinner.

Highlighted by user noschvie in this forum thread: https://forums.balena.io/t/how-to-get-balenacam-to-balenadash/14424/2

I've tested with the current version of balenaDash and can confirm this is the case.

[2019-06-17 15:43] #35 closed

[2019-06-17 22:54] chrisys commented on #34
Fixed in 8c19e5b with MJPEG fallback

[2019-06-17 22:54] #34 closed

[2019-07-23 20:13] dmiltiades opened #38 "libjasper-dev"
Problem persists

: Unable to locate package libjasper-dev

[2019-07-24 07:07] mbalamat commented on #38
Hi @dmiltiades can you verify that you are on commit `82e1b92298396e6c356e79fd230d27e4dc45bf08`.

[2019-07-24 13:01] dmiltiades commented on #38
Hello Marios,I tried the new commit last night and it did not work unfortunately. The same problem persists.DemetrisOn 24 Jul 2019 09:07, Marios Balamatsias <notifications@github.com> wrote:Hi @dmiltiades can you verify that you are on commit 82e1b92298396e6c356e79fd230d27e4dc45bf08.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the th

[2019-07-24 21:35] dmiltiades commented on #38
Hello Marios,

maybe I need a guide how to ensure I am cloning the correct commit?

I tried git checkout but I am not succeeding for some reason...i get warnings about ambiguous names..

[2019-07-25 00:03] mbalamat commented on #38
@dmiltiades you can use `git rev-parse HEAD`

[2019-07-25 00:04] mbalamat commented on #38
you can use `git pull origin master` to pull the latest changes

[2019-07-25 08:08] mbalamat commented on #38
@dmiltiades you can always delete the directory and follow the tutorial video here https://www.balena.io/blog/build-a-raspberry-pi-based-network-camera/#pushthecodetothedevice

[2019-07-25 18:17] dmiltiades commented on #38
warning: refname '82e1b92298396e6c356e79fd230d27e4dc45bf08' is ambiguous.
Counting objects: 531, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (268/268), done.
Writing objects: 100% (531/531), 169.40 KiB | 56.46 MiB/s, done.
Total 531 (delta 256), reused 531 (delta 256)
remote: Resolving deltas: 100% (256/256), done.

[Info]        Starting build for guava, user gh_dmilt

[2019-07-25 22:21] xginn8 opened #39 "RaspberryPi camera v2 fails to connect to camera with "VIDEOIO ERROR: V$L: can't open camera""
A user reported that they were able to fix these issues by upgrading the project to use debian-buster as a base and the following set of packages:

[code]

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_r5xf)

[2019-08-01 02:28] jnragu opened #40 "push error"
When pushing, the remote build fails with the error:
`ERROR: Could not find a version that satisfies the requirement aiohttp_basicauth==0.1.0 (from versions: 0.1.3)

ERROR: No matching distribution found for aiohttp_basicauth==0.1.0

The command '/bin/sh -c pip3 install aiohttp aiohttp_basicauth==0.1.0 aiortc==0.9.11 opencv-python==3.4.4.19 --index-url https://www.piwheels.org/simple' returned a n

[2019-08-01 03:14] jnragu commented on #40
In the Dockerfile.template I changed the line:
`RUN pip3 install aiohttp aiohttp_basicauth==0.1.0 aiortc==0.9.11 opencv-python==3.4.4.19 --index-url https://www.piwheels.org/simple`
to
`RUN pip3 install aiohttp aiohttp_basicauth==0.1.3 aiortc==0.9.11 opencv-python==3.4.4.19 --index-url https://www.piwheels.org/simple`

It was able to build and upload but now I get "Video device is not ready. Tryin

[2019-08-02 08:24] mbalamat commented on #40
@jnragu can you verify that you've set up the following environment variables `BALENA_HOST_CONFIG_start_x` to `1` and the gpu_mem vars as described on the README?

[2019-08-02 08:32] mbalamat commented on #38
@dmiltiades that's weird... can you try deleting the directory you cloned and re-clone and re-push?

[2019-08-02 08:48] mbalamat commented on #38
Also I'd like some more information about your setup. Raspberry Pi model and version, camera module used and what BalenaOS version your device is running (you can find that on your balena-cloud dashboard)

[2019-08-02 15:30] mbalamat commented on #40
@jnragu can you try out the latest master, I've added some extra steps on README to avoid having a default gpu_mem variable on the dashboard messing with the gpu_mem_{256, 512, 1024}

[2019-08-02 16:07] mbalamat commented on #39
Can't reproduce, closing for now.

[2019-08-02 16:07] #39 closed

[2019-08-04 12:02] idoodler commented on #38
@mbalamat I do encounter the same issue. I am using a `Raspberry Pi Zero W` with `balenaOS 2.32.0+rev1`. I freshly cloned the repository and deployed the project using `balena push <PROJECT_NAME>`.

[2019-08-04 14:24] idoodler opened #42 "Can not push project to balenaCloud"
I recently pulled this project and tried to deploy it on a `Raspberry Pi Zero W` running `balenaOS 2.32.0+rev1`.

However I am unable to push this project using `balena push <PROJECT_NAME>`

<details><summary>Log from balena push</summary>
<p>

[code]

</p>
</details>

This error can be easily be fixed by adding `--allow-unauthenticated` to the `apt-get install -yq` in the `Dockerfile.template` at

[2019-08-05 08:52] mbalamat commented on #42
@idoodler I looked into it, this is an issue with piwheels, I am working on a fix. Thanks for the feedback.

[2019-08-05 09:09] mbalamat commented on #42
@idoodler Looking into it

[2019-08-05 13:38] mbalamat commented on #42
@idoodler can you try this branch https://github.com/balena-io-playground/balena-cam/tree/fix_hash_mismatch

[2019-08-05 14:28] #40 closed

[2019-08-05 19:17] dmiltiades commented on #38
Raspberry Pi 3 (using 64bit OS) (BETA)
balenaOS 2.38.0+rev1 SUPERVISOR VERSION 9.15.7
Raspberry Pi Camera Module V2 8Mp

I tried deleting the directory too and recloning the same and a different directory which both failed

[2019-08-05 21:29] idoodler commented on #42
@mbalamat I can push the project, but the service keeps restarting on my Raspberry Pi Zero W

[2019-08-06 01:13] jnragu commented on #40
I do have the environment variables `BALENA_HOST_CONFIG_start_x`to `1`, but I change the gpu_mem according to the README instead of inside of the dashboard fleet variables

[2019-08-06 15:04] mbalamat commented on #42
@idoodler I located the error to `opencv-python` throwing `illegal instruction error` I've raised an issue on piwheels.

[2019-08-06 16:20] idoodler commented on #42
@mbalamat Nice, I am curious to know how you debugged it in Balena-Cloud.

[2019-08-06 16:25] idoodler commented on #42
Just for context, here is the linked issue: https://github.com/piwheels/packages/issues/43

[2019-08-06 17:19] mbalamat commented on #42
@idoodler so on balenaCloud what I did was to set the entrypoint to sleep and then attached to the balenaCam container and did the things I mention on the issue above.

[2019-08-07 09:45] shams3049 opened #43 "Presisting in the cloud."
What is the approch to be able to save image to a remote location every 1 sec, for ever

[2019-08-08 17:25] #43 closed

[2019-08-08 18:56] mbalamat commented on #43
@shams3049 do you mind directing your question to our forums https://forums.balena.io/

[2019-08-26 13:22] shams3049 opened #44 "Ideas!!"
any ideas for adding timestamp on the stream gsstreamer?

[2019-08-27 06:45] mbalamat commented on #44
@shams3049 it would be a nice addition, you can check the CameraDevice class on server.py and add the timestamp or date on the frame just before returning it. Also if you'd like to discuss more in depth I'd be better to do that on our [forums](https://forums.balena.io) and ping me `@mbalamat`, because this area is for issue tracking.

[2019-08-27 06:45] #44 closed

[2019-11-01 18:06] imrehg opened #45 "Do sound as well"
When a microphone is present.

[2019-11-09 09:14] mbalamat commented on #42
@idoodler can you try the branch on this PR https://github.com/balena-io-playground/balena-cam/pull/46

[2019-11-10 15:44] idoodler commented on #42
@mbalamat I now can push to Balena, but the project fails to run.

[code]

[2019-11-10 15:47] idoodler commented on #42
@mbalamat If you don't have access to a Raspberry Pi Zero W you can send me the image, I will burn it to  an SD card, so you can debug it on a real device.

[2019-11-10 16:56] mbalamat commented on #42
@idoodler unboxing one now and setting it up to debug this...

[2019-11-10 17:49] mbalamat commented on #42
@idoodler my pi zero is probably fried can you add me as a developer at your balena cloud app that has a pi zero device with camera? You do this from the dashboard >> Members tab on the left

[2019-11-11 05:24] idoodler commented on #42
@mbalamat Sure, I just added you. My internet is currently terrible due to some provider issues, so fetching the project may be slow.

[2019-11-11 09:44] mbalamat commented on #42
@idoodler thanks I made some progress I'll check it later in the day. Everything build and imports correctly now. But there is an issue which camera device to use.

[2019-11-11 18:52] mbalamat commented on #42
@idoodler can you use this branch https://github.com/balena-io-playground/balena-cam/tree/pinned-base-image and try to change the capture device here https://github.com/balena-io-playground/balena-cam/blob/ddf6acd6ef3c88dd9e4886a612dd3de6318c4507/balena-cam/app/server.py#L10 also try to unplug/plug the camera on the device because I see 3 `/dev/video*`. For docs reference https://opencv-python-tut

[2019-11-11 19:28] idoodler commented on #42
@mbalamat Thx for your help. After reconnecting the Camera I successfully can fetch the MJPEG stream, however WebRTC is not working. Thats not a big deal, because I only need MJPEG. I guess the CPU is a bit to tiny.

Also, the device appears to be offline in balena cloud when starting a stream. So the fix was to update to the latest balena image + applying the fixes you made to this project?

[2019-11-11 19:31] idoodler commented on #42
@mbalamat Update, I just remembered about a WebRTC project I worked on back then. Firefox is working correctly, Chrome and Safari won't due to missing HTTPS connection to the Raspberry.

Do you still need to be a member of my project?

[2019-11-12 12:04] mbalamat commented on #42
@idoodler which project are you referring to? So just to clarify you just unplugged/plugged the camera and the everything works on the pi zero only when you use firefox?

[2019-11-12 12:12] idoodler commented on #42
@mbalamat Yes, I removed the Cameras Flex cable from the Raspberry Pi Zero W and plugged it back in again. That fixed the error with the missing Camera Device. I then wanted to view the camera stream via the local IP. Both Chrome and Safari Desktop won't show an image. Safari Mobile on iOS 13 (Only tried it externaly tho) and Firefox Desktop shows a camera stream.

The issue refered here is solved

[2019-11-12 12:12] #42 closed

[2019-11-12 12:13] mbalamat commented on #42
@idoodler thanks for your help!

[2019-11-12 12:17] mbalamat commented on #42
@idoodler btw you can use the public url in order to use the app from the internet. And it also has https through balena's proxy. https://www.balena.io/docs/learn/manage/actions/#enable-public-device-url

[2019-11-13 20:44] tmigone opened #47 "Transfer repo to balena-io-projects organization"
We should move this one to the projects org since it looks like this project graduated from the playground :D

[2019-11-15 13:54] aweussom opened #48 "No matching distribution found for async-timeout"
Tried to push BalenaCam to a Raspberry PI Zero W today.

Got around the "missing GPG" error by changing line 6 to:
apt-get install -yq --allow-unauthenticated
...to Dockerfile.template

But this one about Python has me stumped.

[2019-11-15 13:56] aweussom commented on #48
[main]     Step 8/10 : RUN pip3 install aiohttp aiohttp_basicauth==0.1.3 aiortc==0.9.11 opencv-python==3.4.4.19 --index-url https://www.piwheels.org/simple
[main]      ---> Running in 1878c35a3fed
[main]     Looking in indexes: https://www.piwheels.org/simple, https://www.piwheels.org/simple
[main]     Collecting aiohttp
[main]       Downloading https://www.piwheels.org/simple/aiohttp/aiohttp-3.6.

[2019-11-15 14:49] mbalamat commented on #48
@aweussom there's this https://github.com/balena-io-playground/balena-cam/tree/pinned-base-image branch that I haven't merge yet. It's from this PR https://github.com/balena-io-playground/balena-cam/pull/46

[2019-11-15 16:00] aweussom commented on #48
That worked, after a couple of retries because of timeouts. Thanks!
I broke the camera-connector on my RPI Zero W - will test when I can get a new one.

[2019-11-17 19:08] mbalamat commented on #48
closing this if something comes up feel free to re-open it

[2019-11-17 19:08] #48 closed

[2019-11-17 19:10] mbalamat commented on #38
@dmiltiades I missed this ^^ because it didn't contain any pings, sorry. I'll close this issue. I'd recommend updating your device with the latest balenaOS and retrying.

[2019-11-17 19:10] #38 closed

[2019-11-17 19:14] mbalamat commented on #47
@tmigone done

[2019-11-17 19:14] #47 closed

[2019-12-12 06:30] robot-army opened #50 "Weird error - "/usr/lib/arm-linux-gnueabihf/libxml2.so.2: unsupported version 0 of Verdef record""
Hihi,

I'm trying to run this on a Pi Zero W, but it gets stuck in a service restart loop.
[code]

[2019-12-12 06:33] robot-army commented on #50
It's only got a 4 GB SD card, but it doesn't look full to me:

[code]

[2019-12-14 14:46] stenbergd opened #51 "Conform to RFC 1341 Content-Type multipart boundary specification"
I've been toying around with this project on my RPi2 as a way of exploring the Balena concepts and got curious about the Content-Type 'multipart/x-mixed-replace' where a boundary is specified for each stream frame.

According to RFC 1341, section 7.2  The Multipart Content-Type, subsection 7.2.1  Multipart: The common syntax (Link: https://tools.ietf.org/html/rfc1341):

_The  encapsulation  bounda

[2019-12-14 21:26] stenbergd commented on #51
I've created a pull request for this: https://github.com/balena-io-projects/balena-cam/pull/52

[2019-12-15 09:19] stenbergd opened #53 "Avoid unnecessary pip package installations when editing and rebuilding the source code"
Since the Dockerfile.template file has COPY ./app/ /usr/src/app/ before the pip install instructions, each time one edits the code and rebuilds, all pip packages are reinstalled.

This takes some time, especially when working in local mode.

Thus, the Dockerfile statement
COPY ./app/ /usr/src/app/

Should be moved to after the pip install instructions

Fixing this will make it more convenient for

[2019-12-15 09:23] stenbergd commented on #53
Pull request: https://github.com/balena-io-projects/balena-cam/pull/54

[2019-12-16 07:37] mbalamat commented on #50
@robot-army I haven't encountered something like this. Can you use a different SD card and retry?

[2019-12-16 19:21] stenbergd commented on #53
Pull request merged. Issue resolved.

[2019-12-16 19:21] #53 closed

[2019-12-17 05:34] robot-army commented on #50
Yep, using a different SD card fixed this error. Thanks!

[2019-12-17 06:34] robot-army opened #55 "Error on fresh build: VIDEOIO ERROR: V4L: can't open camera by index 0"
Hi,

After installing a larger SD card (a big jump... 4G-128G) the previous strange error I was having stopped (see issue 50)

16.12.19 21:26:09 (-0800)  balena-cam  VIDEOIO ERROR: V4L: can't open camera by index 0
16.12.19 21:26:09 (-0800)  balena-cam  Failed to open default camera. Exiting...

I changed the index of the video device to -1 and got the error
"VIDEOIO ERROR: V4L: can't find camera

[2019-12-17 07:09] robot-army opened #56 "Feed stops after some short time (frames)"
After fixing the setup by issuing the command modprobe bcm2835-v4l2 in a terminal, I was able to get a camera feed, but only for a short time.

After that, the browser screen goes blank, and I eventually get a sad smiley with some 'sorry' error message.

I tried changing a line to ```await asyncio.sleep(5) ```
from I think 0.2? to slow things down, thinking it might be too much data for the pi zer

[2019-12-17 07:18] robot-army commented on #56
[code]

[2019-12-17 08:56] robot-army commented on #50
df -h now reads:

[code]

[2019-12-17 08:56] #50 closed

[2019-12-17 09:17] robot-army commented on #56
Output from top seems like kswapd0 takes over CPU usage right when the thing fails. I've tried changing the GPU memory settings, let's see how that goes.

[2019-12-17 09:24] robot-army commented on #56
Yep, by far the longest run I've had yet (and it's still running as I post this comment) has come by overriding device configuration ```BALENA_HOST_CONFIG_gpu_mem_512``` value from 256 to 128 (from here: https://www.balena.io/docs/learn/develop/hardware/i2c-and-spi/#raspberry-pi-camera-module )

[2019-12-17 10:10] robot-army commented on #56
Some noise in the logs and a broken feed that seemed to work on refresh:

[code]

[2019-12-18 08:43] mbalamat commented on #55
@robot-army which balenaOS version are you using? Also did the throttling work for you?

[2019-12-19 05:22] robot-army commented on #55
Was using BalenaOS version balenaOS 2.32.0+rev1 . Throttling in that way didn't work, I made a new issue for that. It was one of the GPU memory settings.

[2019-12-19 05:28] robot-army opened #57 "Trouble building (in local mode) on a Raspberry Pi 4"
Finally got this working on a Pi Zero W by changing the GPU memory settings.

Moving to a Raspberry Pi 4, with local deployment, and after balena push x.x.x.x
[code]

Changed first line of Dockerfile.template to
[code]

Now got the error
[code]

Commented out the line for that in the same dockerfile.template, but I'm sure it wouldn't be there if it wasn't needed, so I'm sure that'll cause problems

[2019-12-19 10:09] mbalamat commented on #55
@robot-army do yo mind updating to the latest version

[2019-12-19 23:26] mbalamat commented on #57
@robot-army pi4 can run 32bit containers so if you create another dockerfile which is the same as the one here and name it `Dockerfile.amd64` and its first line be `FROM balenalib/raspberrypi3-debian:stretch-20190612` it should work. If you try it do you mind PRing the changes?

[2019-12-19 23:32] mbalamat commented on #56
@robot-army since you don't have this problem anymore do you mind closing this? Also I'd recommend always using the latest available version of balenaOS.

[2019-12-19 23:37] mbalamat commented on #55
@robot-army you can do this by clicking on your device > Actions (it's on the left side of the dashboard) > BalenaOS Update > click update BalenaOS

[2019-12-20 04:21] robot-army commented on #57
Sure, no sweat. I'll keep up to date here. Just one thing, do you mean Dockerfile.amd64? The AMD bit seems out of place on an ARM architecture (but I'm a hardware guy, so...I'm really just swinging a hammer at stuff for now!)

Thanks for coming back to me. I'll shout up in other issues as well!

[2019-12-20 04:23] robot-army commented on #56
I think this needs something for the README to fix the GPU memory sizes, but I'll try again with a new version if I get a moment and see if that fixes it. Thanks for your help!

[2019-12-20 09:43] mbalamat commented on #57
@robot-army sorry man it was late when I responded it should be `Dockerfile.aarch64`

[2019-12-21 04:41] robot-army commented on #55
Hmmmm.... I get this when trying to update?

<img width="468" alt="Screenshot 2019-12-20 at 20 40 07" src="https://user-images.githubusercontent.com/4554056/71303106-07f11600-2369-11ea-8141-d824101a3b37.png">

[2019-12-21 04:42] robot-army commented on #55
On my Pi Zero, it's the latest version, it seems!

[2019-12-21 06:20] robot-army commented on #57
OK, I just reverted my other changes and tried that, and it's still coming with the error below.

[code]

[2019-12-23 12:41] mbalamat commented on #57
@robot-army can you PR the changes so I can test with my pi4?

[2019-12-30 13:08] mbalamat commented on #55
@robot-army some versions of the OS got retracted recently because of an issue. The latest recommended is 2.32 for the RPi zero. I am currently testing to see if balenaCam works on this version. In general the last time I added a commit everything was working for the 2.4x versions of the OS.

[2019-12-31 09:23] mbalamat commented on #55
hey @robot-army I pinpointed the issue, you can check my response on balena forums https://forums.balena.io/t/balena-cam-raspberry-p-v4l-cant-open-camera/52485/19

[2020-01-03 05:40] robot-army commented on #57
OK Done, see https://github.com/balena-io-projects/balena-cam/pull/58

[2020-01-03 05:41] robot-army commented on #57
I'm not sure what configuration from Balena itself might be useful, let me know if anything.

[2020-01-03 05:56] robot-army commented on #55
Ahh OK cool, looks like the right solution for now is to wait a couple weeks for v2.4x for the Pi Zero. Should we keep this issue open until then?

[2020-01-03 09:33] mbalamat commented on #55
@robot-army yes let's keep it open and confirm the results when the v2.4x for the pi zero rolls out.

[2020-01-15 00:36] webtop commented on #55
I'm running v2.38 and was having the same issue. I uncommented that line you mention in the post, nothing else, and it's working as far as it loads, but I just get a blank view. I see the application framework, but the camera feed is just blank.

Are these issues related or should I start a new thread?

[2020-01-15 11:53] mbalamat commented on #55
@webtop yes as you are running 2.38 there is an issue with the camera libs that will be fixed in balenaOS version 2.4x when it comes out for the piZero.

[2020-01-15 14:27] webtop commented on #55
Thx Marios.

[2020-02-12 13:45] schottsfired commented on #57
This command works:
`docker build -f Dockerfile.template -t balena-cam:latest .`

And this command fails with dependency resolution errors:
`balena push balena-cam`

So it seems like a Balena's `docker build` is different than a local `docker build` and something on the Balena side is causing the issue.

[2020-02-14 13:36] mbalamat commented on #57
@schottsfired is your device a pi4?

[2020-02-14 19:07] schottsfired commented on #57
@mbalamat I'm using a Pi3B+ with the `balenalib/raspberrypi3-debian:stretch-20190612` image.

[2020-02-19 01:41] ChadTaljaardt commented on #57
Getting the same issue on Pi 4

[2020-02-19 20:08] mbalamat commented on #57
@schottsfired I haven't tried to build it locally, in balena's builders it builds successfully, I tried it right now.

[2020-02-19 20:13] mbalamat commented on #57
@ChadTaljaardt in general we didn't implement any specific support for pi4. The way to get balena-cam running on pi4 is actually by building it for the pi3, because the 32bit(pi3) containers can run on 64bits(pi4). Probably an easy way to accomplish this is by making an application for pi3 in balena-cloud, push balena-cam there and then move your pi4 to this exact application.

[2020-02-19 20:15] mbalamat commented on #57
Also if you guys would like to build support for the 64bits we are open for PRs.

[2020-02-19 20:19] mbalamat commented on #57
Also that fallback to 32bits is implemented in this PR #58 you could also try that.

[2020-02-21 15:23] schottsfired commented on #57
The only difference I can see between #58 and the `master` branch is line #1 uses an image directly instead of a code reference. I'm doing the same thing, but with a newer base image:
`FROM balenalib/raspberrypi3-debian:stretch-20200207`

Still, the `balena push` command fails with the trace reported by @robot-army in https://github.com/balenalabs/balena-cam/issues/57#issuecomment-568156667. I upg

[2020-02-21 16:21] mbalamat commented on #57
@schottsfired the #58 branch is not meant for you since you are using a pi3. Can you provide some more info about your setup? BalenaOS version mainly and if you have the 64bit version of the OS? Also the full output of `balena push <yourAppsName>`

[2020-02-21 16:27] mbalamat commented on #57
Also yes the builders use caching.

[2020-02-21 18:00] zvin opened #59 "Broken since support for python3.5 was dropped in aioice"
See https://github.com/aiortc/aioice/commit/87f58790488066a88293c82006b949e01971194c

[2020-02-21 18:01] balena-ci commented on #59
[zvin] This issue has attached support thread https://jel.ly.fish/#/5f876dc3-56e9-41d6-b9c1-00a27c772e70

[2020-03-02 11:47] #59 closed

[2020-03-02 11:50] mbalamat commented on #57
@robot-army @schottsfired @ChadTaljaardt I am closing this. There was peer dependency issue, which I fixed, you can use the master branch (v0.1.0). If you encounter any issues feel free to re-open it, or better open another issue.

[2020-03-02 11:50] #57 closed

[2020-03-02 11:54] mbalamat commented on #55
@robot-army @webtop you can try the master branch now and re-open this (or other) if any issues occur.

[2020-03-02 11:54] #55 closed

[2020-03-02 14:22] mbalamat commented on #56
@robot-army I am going to close this, if you still have the issue feel free to re-open it.

[2020-03-02 14:22] #56 closed

[2020-03-06 19:16] stenbergd commented on #51
Aforementioned PR merged.

[2020-03-06 19:16] #51 closed

[2020-03-19 02:07] webtop commented on #55
Hey Marios,

I just pulled down the latest master and rebuilt. No issues in the build process, but once the app started, I get this issue:

I'm doing this all locally with the CLI, but just realized I'm still running 2.38...how do I update to 2.4 from local CLI? I can't find any info, and "balena device os-update" expect a UUID not a host IP.

Thx :)

[2020-03-19 02:20] webtop commented on #55
FYI: I ssh'd into the device, and tried:

but got

[2020-03-21 00:24] pallsopp opened #61 "Invalid IP address issue"
Getting the following error. UI starts as expected and is functional, but the stream is not being fetched correctly.

I am using typical RPi camera board, connected to a Fin board.

I'm planning on debugging the issue this evening as I have plenty of Python experience, but thought I'd post here in case this is a known issue.

My Fin is running in local mode, running containers, with the cam projec

[2020-03-24 16:01] mbalamat commented on #61
@pallsopp the error that pops out to me is this one `exception=ValueError("'88803ef1-075a-4f4d-9954-9f4f4897632a.local' does not appear to be an IPv4 or IPv6 address",)>` What browser are you using?

[2020-03-24 16:06] mbalamat commented on #61
I think if you disable the Local IP hiding for webrtc on your browser, it will work, I'll close this for now, feel free to re-open it, if it's something else.

[2020-03-24 16:06] #61 closed

[2020-03-24 16:57] mbalamat commented on #55
@webtop why not just use the baelnaDashboard to update?

[2020-03-24 17:01] mbalamat commented on #55
And if you want to use the cli you can do what you say and acquire the uuid from `balena scan`.

[2020-03-24 19:59] webtop commented on #55
Hey! It's all good now. I have inadvertently tried to flash an incorrect device image, which then bricked the device. I ended up just reflashing the device with the latest update.

My devices are local dev devices, not connected to the dashboard. Are you saying, just perform an attach, then an update, then a detach? If so....good idea :)

[2020-03-24 22:55] webtop commented on #61
Thanks Marios, that did the trick.

Anyone else who has this issue: if you're using Chrome, the flag is here:
chrome://flags/#enable-webrtc-hide-local-ips-with-mdns

[2020-03-25 08:53] mbalamat commented on #55
@webtop is your device provisioned on balenaCloud? If yes, then even though you have a dev flavour of the balenaOS and you are using local mode you can just, as you say, disable local mode for a while, perform the update and re-enable it. In general with a device running a dev version of balenaOS, provisioned on balenaCloud, you can do the same things as with a device running a production version

[2020-03-25 08:57] mbalamat commented on #61
@webtop awesome! thanks for putting the instructions here. We are open for PRs if you are up adding this valuable info to our readme!

[2020-03-26 02:39] webtop commented on #61
@mbalamat Added PR 62.

Thanks :)

[2020-03-27 03:05] AbeerBPi opened #63 "Connection always fails"
https://forums.balena.io/t/balenacam-connection-always-fails-valueerror-does-not-appear-to-be-an-ipv4-or-ipv6-address/86504?u=abeerb

Appreciate all help!

[2020-03-28 16:14] Esser420 opened #64 "libjasper-dev missing again"
I saw that this has been an issue before and that there was a fix at that time. Now builds from master are failing again due to the libjasper-dev package missing.

[2020-03-30 23:47] webtop commented on #63
Follow this PR instructions: https://github.com/balenalabs/balena-cam/pull/62

I had the same issue

[2020-03-31 00:48] webtop commented on #45
I figured I'd take a look at this as I'll be doing a fair amount of camera work over the next couple of months. Right off the bat there'll need to be some reconfig as the current config only pulls back a single track from the MediaStream, the video one.

I'll be using a Logitech C920 for testing.

I'll be happy to create a GitHub public repo and commit regularly for whomever is interested. :)

[2020-04-01 09:19] mbalamat commented on #45
@webtop we are open for PRs, we would love your contribution to this project.

[2020-04-01 09:46] mbalamat commented on #64
Hello @Esser420 I just tried to build it against a pi3 application and it works. Can you provide some more info about your setup?
Device type?
Camera module?
BalenaOS version?

[2020-04-03 19:22] Esser420 commented on #64
Ok I had a friend recently got the build working on an rpi0, I'll check if I didn't do any mistake.

[2020-04-04 15:57] mbalamat commented on #64
@Esser420 you can paste here the output of the build. Especially the lines that say what base image was used, this might tell us something.

[2020-04-06 10:34] mbalamat commented on #64
closing for now, if you encounter the issue feel free to re-open this,

[2020-04-06 10:34] #64 closed

[2020-04-06 10:36] mbalamat commented on #63
@AbeerBPi assuming that the above solution helped you, I'll close this, if you have any issue feel free to re-open this issue.

[2020-04-06 10:36] #63 closed

[2020-04-16 15:23] Ereski opened #65 "Baseimage doesn't exist for the RPI 4"
Current workaround is to add RPIs 4 to RPI 3 apps

[2020-04-23 14:18] hinzendo27 commented on #45
April 23, 2020

Hello:

Is anyone still looking at this thread?  I'm attempting to make Balena-Cam operate under a better framerate.  The existing one is very very slow.  ??

Brian Wayne

[2020-04-23 15:16] webtop commented on #45
I'm still poking at it. I have the refresh rate much better, but ran into an issue that was a bug in Python 3.5, which is what the project Dockerfile pulls from. The issue has been resolve now, but the Python version needs increasing.

First of all, for audio, you need to get rid of using OpenCV, as that is for video only. I'm using PyAV (already used partially), but that is how the bug was found.

[2020-04-23 15:21] webtop commented on #45
@hinzendo27 If you'd like to collaborate and list/fix changes together, let me know. That way we aren't both doing the same work. :)

[2020-04-23 18:08] hinzendo27 commented on #45
Apr 23, 2020

Hello:

The issue with regard to audio, is not what I'm currently working.  I'm not
that up so speed on dockers and all of that.  When I "run" the camera
RasPi, the framerate is very very slow.  There's no big monster rush right
now.  If one is drawing on a graph board, or something, one would like to
use gestures to help better communicate a point.  Currently, the
framerate is too s

[2020-04-23 18:15] hinzendo27 commented on #45
Apr 23, 2020

Paul:

If you need help, let me know.  With regard to pulling a "docker" file out
of a RasPi, and then parsing through the python files and all that, I'm
very much in the dark on all of that.  I'm base level, in regard to python,
and base level with OpenCV.  But, I have no idea how to reconstruct a
docker file or any of that.

Any help you would need, I can try to assist somewhat, I'

[2020-04-24 14:51] mbalamat commented on #45
Hi guys great to hear that you like the project and want to contribute! @webtop what python version do you need? I can try bumping the python version for you though the only blocker that I had and didn't bump the version in past was the library dependencies. @hinzendo27 awesome idea about the frame rate increase can you explain to me how do you plan on increasing the frame rate?

[2020-04-24 15:58] hinzendo27 commented on #45
Apr 24, 2020

Marios:

Thank you for the email.  My recent message was addressing that issue.  I'd
like to spell out some big long series of steps about improving framerate,
but I don't know how to unassemble a Docker Container, or any of the files
so associated.  The other guy is Paul, I mentioned to him how in the dark I
am here.  Any info would help.

Brian

On Fri, Apr 24, 2020, 7:51 AM Marios

[2020-04-24 16:02] pallsopp commented on #45
@mbalamat Anything >= 3.5.8 should be good as that's when the buf got fixed.

[2020-04-24 16:12] mbalamat commented on #45
@hinzendo27  to start tinkering with the code, you can try run balena-cam locally on your computer. Just install python 3. In our dockerfile there are the dependencies you need. See the pip install part. @pallsopp whenever I get some time I'll try myself to use another version. For now can you try changing the base image from what we currently have to something from here https://hub.docker.com/r/b

[2020-04-24 16:13] hinzendo27 commented on #45
Apr 24, 2020

Paul:

Thank you for the help.  I'll try to contribute, you guys would be forced
to bring me out of the stone age on that one.  Not sure people would want
to take the time.

Brian

On Thu, Apr 23, 2020, 8:17 AM Paul Allsopp <notifications@github.com> wrote:

[2020-04-24 16:17] mbalamat commented on #45
@hinzendo27 sure no problem! Just post your question here or better in our forums here > https://forums.balena.io/ . I think in our forums the communication would be better. Because here there were a couple of times I lost the notifications. cc @pallsopp

[2020-04-24 16:18] pallsopp commented on #45
More than happy to help out with any explanations and questions. Don't hold back, and definately use the forums because the community there is great. And yes, cc me and I'll be sure to get a notification.

[2020-04-24 16:20] hinzendo27 commented on #45
Apr 24, 2020

Marios:

There is like a 90 second delay for the video (one has to wait that long).
I don't know if there's an IDE for these Docker Files or whatever ( I know
Python has associated IDEs -- Thonny on RasPi being one of them).  I hope
these videos maintain something of a private nature.

Brian

On Fri, Apr 24, 2020, 9:13 AM Marios Balamatsias <notifications@github.com>
wrote:

[2020-04-24 16:29] pallsopp commented on #45
The technology behind all of this is called WebRTC. You can check it out on webrtc.org
The WebRTC APIs are JavaScript based, with bindings for Python. That delay at the start is partly due to the technology handshaking between the front-end and back-end. That's where the security comes into it.
There are some great videos on YouTube also concerning WebRTC, that are definitely worth a look.

[2020-04-24 16:39] hinzendo27 commented on #45
Apr 24, 2020

Paul:

The directory structure of a provisioning system on one's hard drive is a
bit of a head scratcher.  It's confusing to make out what's being
provisioned to the RasPi, and how.  I'm updating a resume too, so I have to
steer away from this for a time.  I'll get back in a few days.

Brian

On Fri, Apr 24, 2020, 9:29 AM pallsopp <notifications@github.com> wrote:

[2020-04-24 17:50] pallsopp commented on #45
No problem.Just to be clear, in case it wasn't obvious, **webtop** and **pallsopp** are the same person....me. This is my work account, and webtop is my personal account. During the day I'm usually logged in under my work account, and in the evening, my personal account. Sometimes I forget to switch :)

[2020-04-24 21:06] mbalamat commented on #45
@pallsopp yep I noticed, thanks for clarifying though!

[2020-04-25 06:07] pallsopp commented on #45
@hinzendo27 The basics of a Dockerfile contain everything that's needed to build a system-on-the-fly.
The FROM parts pulls a system image that someone has built and contains all the software you need to run a project. That system image contains your system files, folders, and libraries: almost a complete linux system, but just enough to make everything work.
The RUN parts are your command as if yo

[2020-04-25 14:42] hinzendo27 commented on #45
Apr 25, 2020

pallsop:

Thanks for taking the time to plow through some of the detail.  We're all
busy.

If one "populates" a windows pc with 1) a DOS "lobe" needed to force the
balena cli into local operation, and 2) a "lobe" which contains the
balena-cam provisioning tree, that all makes sense.

Perhaps I need to approach the general balena forum to "disect" what's
going on in that entire balena

[2020-04-27 18:39] hinzendo27 commented on #45
April 27, 2020

pallsop:

Do you know of a way to ssh into a balena Raspi from a raspbian Raspi?  I'm
using a wifi hotspot.  I'm not sure how to ssh over wireless, especially if
it's with someone's hotspot.  When I'm using ethernet, ssh is very easy,
but the wireless seems to throw a wrench into the works.  I need to be able
to quickly post photos to a subordinate type directory.  I'm having troub

[2020-04-27 18:45] pallsopp commented on #45
If your raspis are running containers that are on the cloud, you should be able to use **balena ssh**. If you are using ssh from the commandline, you might need to change the port to 22222, which is the ssh port to a local instance. Give that a try, or let me know more info about how the containers are.

Thx

[2020-04-27 19:07] pallsopp commented on #45
FYI: I work from home and work online, so I'm always available :)

[2020-04-28 00:21] hinzendo27 commented on #45
Apr 27, 2020

pallsop:

Right now, funds are a little tight.  It may be asking quite a bit, but I'm
trying to use the Raspbian system on one of the pis, and ssh into the
balena OS on another.  There are like 4 raspberry pis.  Using the hotspot,
I'm trying to make it work.  I don't have a huge background with firewalls
or any such thing.

Using ssh across multiple platforms would help, but I'm not

[2020-04-28 22:09] pallsopp commented on #45
Why don't we take this to the forums, and I'll be able to help you some more as this is getting off-topic for its current location.

Thx

[2020-04-28 22:14] hinzendo27 commented on #45
Apr 28, 2020

pallsop;

OK, the forums can probably help.  Thank you.

hinzendo

On Tue, Apr 28, 2020, 3:10 PM pallsopp <notifications@github.com> wrote:

[2020-04-30 12:10] #65 closed

[2020-04-30 21:37] hinzendo27 commented on #45
April 30, 2020

Hello:

Has anyone seen this note?   I'm back working on the video system.  The
push isn't working like it had been.  The OS says: "not deploying
release".  Anyone have any idea why this is the case?

hinzendo

On Tue, Apr 28, 2020 at 3:13 PM Brian Wayne <wayne1br@gmail.com> wrote:

[2020-04-30 21:40] pallsopp commented on #45
What does your push command look like?

[2020-04-30 22:32] hinzendo27 commented on #45
April 30, 2020

Hello:

Immediately following the push command all of the provisioning commands
appear on the windows screen (seems to take like 4 to 9 minutes, or so).
Then at the very  end of the provision sequence there is a statement about
"HTTP code 404", and the whole process dumps -- "not deploying release".
In all of the "sea of red ink" that shows up at that point, it says "remote
build f

[2020-04-30 23:56] hinzendo27 commented on #45
April 30, 2020

Hello:

The video sever (Balena-Cam) was not working earlier, but it is working now.

hinzendo

On Thu, Apr 30, 2020 at 3:32 PM Brian Wayne <wayne1br@gmail.com> wrote:

[2020-05-01 02:41] pallsopp commented on #45
Using export debug allows for a verbose output, so you get a lot more detail.

Getting a 404 means that a web request failed, specifically that an endpoint for one of the requests could not be found.

From the command line, type DEBUG=1
then hit enter and type your push command again. You should then get a verbose output, which you can post and I’ll take a look at it

It ain't easy being green! Pl

[2020-05-14 10:30] Hegazi opened #68 "Capturing video from second camera on balenaFin"
I have enabled 'Dual camera mode' as per instructions for the balenaFin: https://www.balena.io/fin/1.1/docs/developers/#Dual-camera-mode
I also changed the Fleet Configuration. I get the following output when switching cv2.VideoCapture(0) in server.py to cv2.VideoCapture(1) to get the feed of the second camera.
Note: Works fine with main camera
[code]

[2020-05-15 11:47] mbalamat commented on #68
Hi @Hegazi can before running balena-cam can you check if there is a /dev/video1 device?

[2020-05-16 01:18] Hegazi commented on #68
Running 'ls /dev/' I get video0, video1, video10, video11, video12.

[2020-05-21 14:41] mbalamat commented on #68
@Hegazi sorry for the late reply. Can you try running `vcgencmd get_camera` to see if the camera's are recognised. After that can you try to run `raspistill -cs 1 -o image1.jpg` to see if the camera that is connected to the second CSI port works and takes a picture?

[2020-05-22 06:45] Hegazi commented on #68
@mbalamat I actually have posted on the forum right [here](https://forums.balena.io/t/set-state-of-dsi-cam1-switch/32111?u=hegazi):

Running `vcgencmd get_camera` I get:

Running `raspistill -cs 1 -o image1.jpg` I get:

[2020-05-22 11:07] rahul-thakoor commented on #68
Have you also changed [this line](https://github.com/balenalabs/balena-cam/blob/master/balena-cam/app/server.py#L168) ?

[2020-05-22 11:27] jellyfish-bot opened #69 "Allow user to select video device using an environment variable"
[rahul-thakoor] The video capture device is currently hardcoded to `/dev/video`
Allow changing that via a variable and fallback to `/dev/video` if the variable is not set.

It can be helpful when there are other video capture devices. see #68

[2020-05-27 13:56] mbalamat commented on #68
@Hegazi since we are discussing this on the forums I'll close this. Feel free to re-open it if you need to.

[2020-05-27 13:56] #68 closed

[2020-05-28 03:13] sepulworld opened #71 "Stable Rasberry Pi Zero W config?"
Hi! Does anyone have a stable Raspberry Pi Zero W config they could share? I've tried a couple gpu memory settings... 128 and 256 but my camera will run for a minute or two and then lock up. Then the Balena supervisor restarts it I believe. I don't see much in the Balena logs for the device in the GUI, but Im assuming it is GPU memory related.  Any advice / documentation for Pi Zero would be appre

[2020-06-11 16:15] mbalamat commented on #71
@sepulworld can you try removing all the GPU mem vars and try different values for the `BALENA_HOST_CONFIG_gpu_mem` eg set it to 96? Also what balenaOS/supervisor version are you running? FYI we respond very quickly in our [forums](https://forums.balena.io/).

[2020-06-26 12:35] HughWarrington opened #73 "No video, probable WebRTC problem on Pi4"
I cloned the repo and followed the instructions in README.md.

I am using a Raspberry Pi 4, 4GB. Official Pi camera module v2 attached.

When I point my browser at the device public URL (https://xxx.balena-devices.com) the page loads and all seems to be going OK, until my browser looks like this with no video:

![image](https://user-images.githubusercontent.com/5960770/85854823-0b000f80-b7ad-11ea-

[2020-07-05 17:38] russellblake commented on #40
@mbalamat I am getting the same error and tried all of the suggestions in this post, but I am still getting the error, see attached. Any thoughts on what to try next?
![balena-cam-error](https://user-images.githubusercontent.com/67872263/86538581-6ff9ea80-bebc-11ea-8a7f-b94efc3db729.png)

[2020-07-06 19:07] mbalamat commented on #40
@russellblake what device are you using? Pi3, Pi4, Pi0 or else?

[2020-07-06 19:13] mbalamat commented on #73
@HughWarrington see https://github.com/balenalabs/balena-cam#additional-information on the 4th bullet about chrome. It will resolve this for you. Sorry for the late reply, FYI we respond very quickly on our [forums](https://forums.balena.io/). I'll close this for now. Feel free to re-open it if it doesn't work for you.

[2020-07-06 19:15] #73 closed

[2020-07-07 11:25] russellblake commented on #40
@mbalamat I am using a balenaFin v1.0 with Raspberry Pi Compute Module 3 Plus (CM3+L).

[2020-07-09 12:14] HughWarrington opened #74 "Cannot build: No matching distribution found for av<7.0.0,>=0.5.3 (from aiortc==0.9.11)"
I hit the big 'Deploy with balena' button on https://github.com/balenalabs/balena-cam/blob/master/README.md, and this is what happened:

[code]

I see that https://www.piwheels.org/simple/av is completely empty. Is that a 'bug' by piwheels? I'm not sure how to tell.

My thinking was 'well there's no pre-built wheel, never mind, I'll just build it myself'. So I changed line 34 of the Dockerfile fro

[2020-07-09 13:47] HughWarrington commented on #73
Thank you, that does indeed fix the problem! (after I fixed the build, see #74)

A small improvement would be to detect the user is running Chrome and show a link to the relevant part of the docs.

[2020-07-09 13:52] HughWarrington commented on #73
Documentation improvement submitted in #75

[2020-07-09 17:36] mbalamat commented on #74
@HughWarrington can you try the branch from this [PR](https://github.com/balenalabs/balena-cam/pull/76) it locks av to v6.1.0. The rationale behind the different lines is that it uses PyPI, piwheels and then PyPI again, in the point of failure it used piwheels when it should have used PyPI. Your fix is considered a win and we are open for PRs in general, but if we don't need to build something whi

[2020-07-14 09:38] HughWarrington commented on #74
I just built and deployed it successfully on my hardware (Pi4, Pi camera module v2), and WebRTC is working great in my browser (Chrome, after following steps in the README).

I would consider that PR a fix to this ticket. Many thanks!

[2020-07-14 11:06] #74 closed

[2020-07-14 11:08] mbalamat commented on #74
@HughWarrington great and thank you for your docs PR!

[2020-09-18 15:58] leonpierre opened #78 "Show date and time in stream"
Is this possible?

[2020-10-18 19:02] chilipeppr commented on #73
FYI, you have to toggle this setting to get to the suggested setting in #75

![image](https://user-images.githubusercontent.com/7904621/96377290-b99fd580-1139-11eb-9a5d-b56b8fdd15b4.png)

[2020-10-27 07:53] jellyfish-bot opened #83 "Flag to disable "Anonymize local IPs exposed by WebRTC" is expired in Chrome 86"
[rahul-thakoor] this project required disabling the feature in browsers where the local IP address is hidden. In recent versions of Chrome, the flag is not available. It can be brought back with `chrome://flags/#temporary-unexpire-flags-m85` but this is temporary.

We should find an alternative and possibly fallback to mjpeg streaming when WebRTC doesn't work.

[2020-11-01 14:39] mbalamat commented on #78
Hello @leonpierre yes it is. In general, balenaCam uses opencv to get the frame from the camera. So you can put whatever you want on a frame, you can even apply CV algorithms before returning it. WRT to your question, a user asked the same in our forums I can't find the forums post but I found the fork that this is implemented in, here is the diff that does this https://github.com/shams3049/balena

[2020-11-01 14:41] mbalamat commented on #78
Also, feel free to send us a PR with this addition, here. I am closing this, for now, feel free to re-open it if you have any issues.

[2020-11-01 14:41] #78 closed

[2020-11-04 07:32] jellyfish-bot opened #84 "User would like to get live stream feed via public url"
[rahul-thakoor] The current implementation of balenaCam has a client webpage that streams the video feed. It would make sense to allow the feed directly over the public url so it can be consumed directly in other applications. E.g Ant Media

[2020-11-06 08:15] aweussom commented on #84
What is jel.ly.fish?

[2020-11-06 08:16] aweussom commented on #84
The feed nedn't necessarily have to be consumed over the public URL - but some way to access the stream would be nice?

[2020-11-06 15:09] cbarratt opened #85 "Change video resolution"
Is it possible at all to change the video resolution? It appears to be drastically low quality :( I was hoping for some environment variable to use for this

[2020-11-06 16:35] phamkythanh commented on #84
Hi there, actually my original problem here https://forums.balena.io/t/how-to-use-balenacam-with-usb-camera-device/203301/61?u=pkt_gkxim. We want to re-stream the video via Ant Media Server (https://github.com/ant-media/Ant-Media-Server/wiki/Re-streaming#restreaming-external-sources) so we can use recording/playback feature for the business requirement purpose.

[2020-11-09 11:26] aweussom opened #86 ""Blank" screen in web browser"
Hi. My balenacam is not working. When I try to access the WebRTC stream, everything but the stream itself loads.
I can double-click to go fullscreen etc - but no video.
The camera and RPI 3 A+ is confirmed working.

From the logs - the only weird thing is the .local address instead of the IP my computer is on?

----
`09.11.20 12:20:45 (+0100) <balena-cam> https://github.com/balena-io-playground/ba

[2020-11-09 14:17] aweussom commented on #86
[3dprintercam_alfheim-prusa-mini-09.11.20_15 16 19.txt](https://github.com/balenalabs/balena-cam/files/5511029/3dprintercam_alfheim-prusa-mini-09.11.20_15.16.19.txt)

Attached log

[2020-11-09 14:18] aweussom commented on #86
Looks like some sort of Bonjour-related problem?
Also tested on my Cellphone wifi sharing, to remove Bonjour from the equation. Same problem

[2020-11-09 15:49] mbalamat commented on #86
@aweussom balenaCam doesn't work with mdns adresses. In order to disable them see here https://github.com/balenalabs/balena-cam#additional-information.

[2020-11-11 11:21] aweussom commented on #86
That option is not available in my Chrome.
I blocked mDNS with the windows 10 firewall, and that worked fine:
[In a dministrator powershell]

Set-NetFirewallRule -DisplayName "Google Chrome (mDNS-In)" -Enabled True -Action Block

[2020-11-19 02:29] sinclairnick commented on #85
in `app/server.py` change lines 15-16
[code]
640 = width
480 = height

If you want them to be environment variables, do something like

[code]

[2020-12-02 23:29] SteeveGL opened #87 "Error with Raspberry Pi 4 & Camera Module v2"
I tested with the code on master [344e824
](https://github.com/balenalabs/balena-cam/commit/344e824fae19cdb77476feec618074a09978d196) on my Raspberry Pi 4 with Noir Camera Module V2 . I got the error `AttributeError: module 'lib' has no attribute 'SSL_OP_NO_TLSv1_3'`

[code]

Any ideal? I guess I have to update a library...

[2020-12-03 02:03] SteeveGL commented on #87
I replaced the line [balena-cam/Dockerfile.aarch64#L34](https://github.com/balenalabs/balena-cam/blob/344e824fae19cdb77476feec618074a09978d196/balena-cam/Dockerfile.aarch64#L34) by
[code]
A package has a dependency to pyOpenSSL > 19.1.0, and that cause that error.

Now I get `Video device is not ready`. Sound like a progression.

[2020-12-03 02:03] #87 closed

[2021-02-04 20:59] corbinhaugen opened #88 "Cannot build: balena.yml is not a valid contract"
Whether using balena CLI or git, I get the same error which is:

[code]

or

[code]
Any ideas of what I am doing wrong?

Thank you,
Corbin

[2021-02-04 23:02] corbinhaugen commented on #88
I ended up deleting "balena.yml" and the build proceeded.  Then I ran into [Issue #74](https://github.com/balenalabs/balena-cam/issues/74) and subsequently switched to 'lock_av_version' branch and everything built and is working fine.

Supposedly lock_av_version branch got merged to master but I have not investigated further to see where that broke again.

[2021-02-04 23:02] #88 closed

[2021-04-21 10:20] YosubShin opened #91 "Error with "VIDIOC_STREAMON: Invalid argument""
When I loaded the balena-cam to Raspberry Pi 4B, the balena-cam service dies and infinitely restarts.

When I ssh'd into the Docker container and tried to execute the Python logic, I could reproduce the same error by importing `cv2` and running `cv2.VideoCapture(0).read()`. The returned values for `read()` are `(False, None)`.

Following is a snippet of log from the balena-cam service:
[code]

[2021-04-27 13:51] YosubShin commented on #91
nvm, I think the issue might have been that my camera was defective. I was able to make it work using a USB camera.

[2021-04-27 13:51] #91 closed

[2021-07-23 12:00] chrisys opened #93 "Update references to balenaCloud application"
Look for and rename any references of balenaCloud application to fleet

[2021-08-09 19:08] alanb128 commented on #93
Done!

[2021-08-09 19:08] #93 closed

[2021-08-10 08:50] chrisys commented on #93
Thanks @alanb128! :)

[2021-09-18 15:28] panban-ux opened #95 "Maybe not an issue but worth asking"
Looking forward to drive this project using cellular data on either a sim USB or a dedicated HAT for Pi4on 4G. My question is, what further configuration it needs if any and if the stream data are being compressed from the host to the cloud. Having compressed data over cellular for the obvious reasons on 1080 stream. Has anyone have a say on it?

[2022-01-25 19:05] meawoppl opened #98 "Main Branch Does not Build"
It looks like some dependency has changed....

[code]

[2022-01-25 19:13] meawoppl commented on #98
Realted:
https://stackoverflow.com/questions/57138804/pipenv-install-opencv-python-fails-on-fresh-raspbian-installation
and
https://github.com/piwheels/packages/issues/52

[2022-02-02 19:02] mozz100 opened #99 "Doesn't run successfully when pushed to balena; syntax error"
From the current `master` branch, I cloned and then pushed to balena.  Image built ok and has deployed to my device (raspi 4)

However the `balena-cam` container is failing to start, falling over with a syntax error.  Seems to be complaining about type hinting in pyee.  Has some dependency not been pinned and an external release rendered this code un-runnable?

[code]

[2022-03-09 19:19] mozz100 commented on #99
@zoobot I found that pinning pyee (as in https://github.com/balenalabs/balena-cam/pull/101) allowed me to work around this and get started.  Not sure if @balenalabs are still maintaining this code?

[2022-03-29 13:17] mozz100 commented on #99
This should be fixed in v0.2.9; marking closed

[2022-03-29 13:17] #99 closed

[2022-05-24 06:19] #71 closed

[2022-06-11 13:49] benhowes opened #103 "Suitable as use for a block"
I'm not completely clear from the docs if this is suitable for use as a block?

The networking mode `host` looks as though it may be a problem when combining with other services which expose ports?

[2022-06-27 15:41] adminy opened #104 "ValueError uncaught webrtc bug"
Logs
[code]

[2022-07-03 13:26] GOTO-GOSUB opened #105 "Pi Zero W and Pi 3A+ all connect to the cloud but all return "nothing is listening on port 80" errors on the public URL."
I have tried to get the Balena-cam working today on both a Pi 3A+ and a Pi Zero W via the "Deploy with Balena" route but while both connect to my account / the cloud, each one yields the following error when trying to access the public IP address to view the camera:

"We encountered an error when reaching this [balena.io](https://balena.io/) device:
(ID)
tunneling socket could not be established:

[2022-07-20 01:28] Sheng-IoT commented on #104
I am having the exact same issue on my Raspberry Pi 4b, same error message in the log.
I checked the local address of the webcam. Although it won't return 404 or an error message, it doesn't show anything:
![image](https://user-images.githubusercontent.com/87348555/179874777-cf19bc94-4583-49e5-ae8d-c40d2c9dc475.png)

then I checked the public URL, this time I got an error message about port 80

![

[2022-09-18 19:02] PlesnivejSejra commented on #105
Same here! I have tried this with "Deploy with Balena" and ended as you.